name: Android Release Build

on:
  push:
    tags:
      - 'v*' # 只有当推送标签（如 v1.0.0）时才触发构建

jobs:
  build:
    name: Build Signed APK
    runs-on: ubuntu-latest
    permissions:
      contents: write # 允许 Action 上传 Release 文件

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Decode Keystore
        env:
          ENCODED_STRING: ${{ secrets.KEYSTORE_BASE64 }}
        run: |
          echo $ENCODED_STRING | base64 -d > app/release-keystore.jks

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Release APK
        env:
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
        run: |
          ./gradlew :app:assembleRelease \
            -PKEYSTORE_FILE=release-keystore.jks \
            -PKEYSTORE_PASSWORD="$KEYSTORE_PASSWORD" \
            -PKEY_ALIAS="$KEY_ALIAS" \
            -PKEY_PASSWORD="$KEY_PASSWORD"

      - name: List Build Output (Debug)
        run: find . -name "*.apk"

      - name: Rename APK
        run: |
          # 1. 找到构建生成的原始 APK (注意路径变更)
          # 2. 将其移动到根目录并重命名，方便后续步骤读取
          mv app/build/outputs/apk/release/app-release.apk R2Droid-${{ github.ref_name }}.apk

      - name: Build Changelog
        id: build_changelog
        uses: mikepenz/release-changelog-builder-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          body: ${{ steps.build_changelog.outputs.changelog }}
          files: |
            # 注意：这里只需要文件名了，因为上一步我们把它移动到了根目录
            R2Droid-${{ github.ref_name }}.apk
          draft: false
          prerelease: false